$primary: rgb( 0 ,125 ,243)
$primary-invert: #ffffff

$gradient-top-left: rgb( 6 ,251 ,150)
$gradient-bottom-right: rgb( 1 ,60 ,176)

@import "~bulma"
@import "fonts"


html
  /* ensure that all of the viewport is used */
  width: 100%
  height: 100%
  /* ensure that no scrollbars appear */
  margin: 0
  padding: 0
  /* center SVG horizontally and vertically */
  // display: flex
  align-items: center
  justify-content: center
  // background: url(../../../static/img/bottom_board.svg)
  // background-size: 100% 100%

body
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  
body > div 
  transition:all .5s ease 

.hero.is-primary.is-bold
  background-image: linear-gradient(169deg, $gradient-top-left 0%, $primary 36%, $gradient-bottom-right 65%)
  
#splash-svg-bg 
  position: absolute
  top: 0
  left: 0
  /* ensure 1:1 aspect ratio, tweak 50 to make SVG larger */
  width: 100vmin
  height: 100vmin
  /* set some maximum size (width and height need to match
   * aspect ratio, 1:1 in this case */

@keyframes bounceIn 
  0% 
    transform: scale(0.8)
    opacity: 0
  
  25% 
    transform: scale(1.05)
    opacity: 1
  
  100% 
    transform: scale(1)
  
.navbar-item.home-link
  font-family: "Kiona"


#splash-graphic
  // height: 100%
  // width: 100%
  margin: -1rem
  padding: .5rem
  min-width: 20rem
  min-height: 35rem

.splash-graphic-container
  // animation-duration: 10s
  // animation-name: bounceIn
  // display: flex
  
  
#Icon_presentation 

.team.section
  background: #333
  background-image: linear-gradient(180deg, #666 0%, #333 50%)
  & .card
    border: 1px solid black
    transition: opacity 0.75s, transform 0.75s, width .75s
    color: #fff
    opacity: 1
    & .card-content
      background: #666
      transition: background 1.5s
    & .card-content .media .media-content .title
      color: #fff
    & .content
      opacity: 0
      height: 0
      overflow: hidden
    &:hover
      color: #000
      transform: translate3d(0,-10%,0) translate3d(0px,0px,0)
      background: #fff
      & .card-content
        background: #fff
      & .card-content .media .media-content .title
        color: #000
      & .content
        opacity: 1
        height: 100%
        overflow: visible

@media mobile
  .team.section .card:hover
    width: 95%
  
  
  
  

nav
  border-bottom: lightgray solid 0.1vmin

.content .taglist
  list-style: none
  margin-bottom: 0
  margin-left: 0
  margin-right: 1.5rem
  margin-top: 1.5rem
  display: flex
  flex-wrap: wrap
  justify-content: left
  align-items: center
  li
    padding: 0 2rem 1rem 0
    margin-bottom: 1.5rem
    margin-top: 0

.margin-top-0
  margin-top: 0 !important

.footer
  // position: absolute
  bottom: 0
  width: 100%
  left: 0
